body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.resp-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

html {
  background: url(dashboard/computer-game.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 .link {
  color: #FFF;
}

.link:hover {
   color: #00F
}

.greeting {
  color: #FFF;
  background: lightskyblue
}

.game {
  color: #FFF;
  background: lightskyblue
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: floralwhite;
  color: white;
  text-align: center;
}

.inline-block-child {
  display: inline-block;
}

